
# Created by https://www.towoptal.cowom/develowopers/gitignowore/api/visuwualstuwudiowocode,pythowon,flask
# Edit at https://www.towoptal.cowom/develowopers/gitignowore?templates=visuwualstuwudiowocode,pythowon,flask

### Flask ###
instance/*
!instance/.gitignowore
.webassets-cache
.env

### Flask.Pythowon Stack ###
# Byte-cowompiled / owoptimized / DLL files
__pycache__/
*.py[cowod]
*$py.class

# C extensiowons
*.so

# Distribuwutiowon / packaging
.Pythowon
buwuild/
develowop-eggs/
dist/
dowownlowoads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/pythowon-wheels/
*.egg-infowo/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  UWUsuwually these files are written by a pythowon script frowom a template
#  befowore PyInstaller buwuilds the exe, sowo as towo inject date/owother infowos intowo it.
*.manifest
*.spec

# Installer lowogs
pip-lowog.txt
pip-delete-this-directowory.txt

# UWUnit test / cowoverage repoworts
htmlcowov/
.towox/
.nowox/
.cowoverage
.cowoverage.*
.cache
nowosetests.xml
cowoverage.xml
*.cowover
*.py,cowover
.hypowothesis/
.pytest_cache/
cowover/

# Translatiowons
*.mo
*.powot

# Djangowo stuwuff:
*.lowog
lowocal_settings.py
db.sqlite3
db.sqlite3-jowouwurnal

# Flask stuwuff:
instance/

# Scrapy stuwuff:
.scrapy

# Sphinx dowocuwumentatiowon
dowocs/_buwuild/

# PyBuwuilder
.pybuwuilder/
target/

# Juwupyter Nowotebook
.ipynb_checkpowoints

# IPythowon
prowofile_defauwult/
ipythowon_cowonfig.py

# pyenv
#   Fowor a library owor package, yowouwu might want towo ignowore these files since the cowode is
#   intended towo ruwun in muwultiple envirowonments; owotherwise, check them in:
# .pythowon-versiowon

# pipenv
#   Accowording towo pypa/pipenv#598, it is recowommended towo incluwude Pipfile.lowock in versiowon cowontrowol.
#   Howowever, in case owof cowollaboworatiowon, if having platfoworm-specific dependencies owor dependencies
#   having nowo crowoss-platfoworm suwuppowort, pipenv may install dependencies that dowon't wowork, owor nowot
#   install all needed dependencies.
#Pipfile.lowock

# PEP 582; uwused by e.g. githuwub.cowom/David-OWOCowonnowor/pyflowow
__pypackages__/

# Celery stuwuff
celerybeat-scheduwule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Envirowonments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder prowoject settings
.spyderprowoject
.spyprowoject

# Rowope prowoject settings
.rowopeprowoject

# mkdowocs dowocuwumentatiowon
/site

# mypy
.mypy_cache/
.dmypy.jsowon
dmypy.jsowon

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cythowon debuwug symbowols
cythowon_debuwug/

### Pythowon ###
# Byte-cowompiled / owoptimized / DLL files

# C extensiowons

# Distribuwutiowon / packaging

# PyInstaller
#  UWUsuwually these files are written by a pythowon script frowom a template
#  befowore PyInstaller buwuilds the exe, sowo as towo inject date/owother infowos intowo it.

# Installer lowogs

# UWUnit test / cowoverage repoworts

# Translatiowons

# Djangowo stuwuff:

# Flask stuwuff:

# Scrapy stuwuff:

# Sphinx dowocuwumentatiowon

# PyBuwuilder

# Juwupyter Nowotebook

# IPythowon

# pyenv
#   Fowor a library owor package, yowouwu might want towo ignowore these files since the cowode is
#   intended towo ruwun in muwultiple envirowonments; owotherwise, check them in:
# .pythowon-versiowon

# pipenv
#   Accowording towo pypa/pipenv#598, it is recowommended towo incluwude Pipfile.lowock in versiowon cowontrowol.
#   Howowever, in case owof cowollaboworatiowon, if having platfoworm-specific dependencies owor dependencies
#   having nowo crowoss-platfoworm suwuppowort, pipenv may install dependencies that dowon't wowork, owor nowot
#   install all needed dependencies.

# PEP 582; uwused by e.g. githuwub.cowom/David-OWOCowonnowor/pyflowow

# Celery stuwuff

# SageMath parsed files

# Envirowonments

# Spyder prowoject settings

# Rowope prowoject settings

# mkdowocs dowocuwumentatiowon

# mypy

# Pyre type checker

# pytype static type analyzer

# Cythowon debuwug symbowols

### VisuwualStuwudiowoCode ###
.vscowode/*
!.vscowode/settings.jsowon
!.vscowode/tasks.jsowon
!.vscowode/lauwunch.jsowon
!.vscowode/extensiowons.jsowon
*.cowode-woworkspace

# Lowocal Histowory fowor Visuwual Stuwudiowo Cowode
.histowory/

### VisuwualStuwudiowoCode Patch ###
# Ignowore all lowocal histowory owof files
.histowory
.iowonide

# Suwuppowort fowor Prowoject snippet scowope
!.vscowode/*.cowode-snippets

# End owof https://www.towoptal.cowom/develowopers/gitignowore/api/visuwualstuwudiowocode,pythowon,flask
.vscowode
data/passwowords.sqlite3
data/example_data.jsowon
data/files/*
data/cert.pem
data/key.pem
data/impowort/*
data/lowog.txt
ffprowobe.jsowon
cowonfig.yml
data/auwuth.db
data/towokensecret.key
