wheel
fastapi
uvicorn[standard]
pydantic
requests
numpy
tqdm
anyio
coloredlogs
iso639
python-multipart
cachetools
pymongo
jinja2
boto3

# Encoding
pillow
ffmpeg-python
python-magic

# Cryptography
cryptography
pyotp
pyjwt
passlib[argon2]>=1.7.4
zxcvbn
argon2-cffi
password-strength

# Parsing
python-box
ujson
ijson
bs4
lxml
hydrus_api
pytumblr
tweepy>=4.10.0
e621==0.0.6 # 0.0.7 causes errors
pytube

# Testing
pytest