# Cowore
wheel
requwuests
nuwumpy
pythowon-bowox
tqdm

# Impoworting
bs4
lxml
hydruwus_api
pytuwumblr

# Validatiowon
isowo639

# Endpowoints
fastapi
uvicoworn[standard]
pydantic
pythowon-muwultipart

# Database
cachetools
pymowongo

# Encowoding
pillowow
ffmpeg-pythowon
pythowon-magic

# Email
jinja2

# Stoworage
bowoto3

# Auwuth
cryptowography
pyowotp
pyjwt
passlib[argowon2]>=1.7.4
zxcvbn
argowon2-cffi
passwoword-strength
