# Core
wheel
requests
numpy
python-box
tqdm

# Importing
bs4
lxml

# Validation
iso639

# Endpoints
fastapi
uvicorn[standard]
pydantic
python-multipart

# Database
cachetools
pymongo

# Encoding
pillow
ffmpeg-python
python-magic

# Email
jinja2

# Storage
boto3

# Auth
cryptography
pyotp
pyjwt
passlib[argon2]>=1.7.4
zxcvbn
argon2-cffi
password-strength
